.btn-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 11px;
  background: #C16320;

  &:hover {
    background: #4D04C4;
    color: white;
    transition-duration: 1s;
  }
}

.btn-red {
  text-decoration: none;
  color: white;
  padding: 8px 17px;
  border-radius: 11px;
  background: #B90000;
  margin-right: 16px;

  &:hover {
    color: white;
    background: #d65a02;
    transition-duration: 1s;
  }
}

.btn-purple {
  padding: 5px 10px;
  background-color: #502967;
  color: white;
  border-radius: 11px;
  border: 1px solid #BCBCBC;
  text-decoration: none;

  &:hover {
    background-color: $primary;
    color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
}

.btn-midnight {
  padding: 5px 10px;
  background-color: #2e2967;
  color: white;
  border-radius: 11px;
  border: 1px solid #BCBCBC;
  text-decoration: none;

  &:hover {
    background-color: $primary;
    color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
}

.btn-gray {
  padding: 5px 10px;
  background-color: #404040;
  color: white;
  border-radius: 11px;
  border: 1px solid #BCBCBC;
  text-decoration: none;

  &:hover {
    background-color: #BCBCBC;
    color: #404040;
    text-decoration: none;
    transition-duration: 1s;
  }
}
.btn-light-gray {
  background-color: #6c757d;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: #404040;
    color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
}

.btn-white {
  padding: 5px 10px;
  background-color: #BCBCBC;
  color: black;
  border-radius: 11px;
  border: 1px solid #404040;
  text-decoration: none;

  &:hover {
    background-color: #404040;
    color: white;
    border: 1px solid #BCBCBC;
    text-decoration: none;
    transition-duration: 1s;
  }
}

.btn-white-outline {
  padding: 5px 10px;
  border-radius: 11px;
  border: 1px solid #bcbcbc;
  text-decoration: none;

  &:hover {
    background-color: #bcbcbc;
    border: 1px solid #BCBCBC;
    text-decoration: none;
    transition-duration: 1s;
  }
}

.btn-pink {
  background-color: $pink;

  &:hover {
    background-color: #68F2F9;
    transition-duration: 1s;
  }
}

.info-icon {
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #fb8b39;
  color: white;
  opacity: 0%;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: red;
    transition-duration: 1s;
  }
}
