.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-booking-infos {
    padding: 16px;
  }

  .btn {
    border-radius: 10px;
  }

  .btn-danger {
    color: white;
  }
}

.jetpack-card-title {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  text-overflow: ellipsis;

  &:hover {
    color: #bf3f00;
    transition-duration: 1s;
  }
}

.card {
  width: 16rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.40);

  &:hover {
    box-shadow: 0 0 15px rgba(253, 0, 0, 0.4);
    transition-duration: 1s;
  }
}

.card:hover .info-icon {
  opacity: 100%;
  transition: opacity 1s;
}

.card-title {
  text-decoration: none;
}
