.booking-form {
  background: #E8E8E8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.signup-form {
 color: white;
 background-color: $gray;
 padding: 30px 50px;
 border-radius: 10px;

 .form-text {
  color: white;
 }
}
